{% extends "layout.twig" %}

{% block content %}

<div class="page-content  page-content--voicereel">
    <div class="container">

        <div class="page-title-blocks">
            <div class="row  row--gutters">
                <div class="col  col--half">
                    <div class="block  block--red">
                        <div class="block-content">
                            <h2>Actress</h2>
                            {{widget('content', 'actress-gallery-text1', { content:'
                                <p>Click here to view headshots and stills.</p>
                            '})|raw}}
                        </div>
                    </div>
                </div>
                <div class="col  col--half">
                    <div class="block  block--image">
                        {{widget('image', 'actress-gallery-image1', {
                          'src': asset('/images/title-image--gallery.png')
                        })|raw}}
                    </div>
                </div>
            </div>
        </div>


        <div class="divider">
           <img src="{{asset('images/divider.png')}}" alt=""/>
        </div>


        <!-- Actress Gallery -->
        <div class="actress-gallery">
            {{widget('gallery', 'actress-gallery-new', {
            'showTitle': true,
            'showDescription': true,
            'images':[
                {
                    'url':asset('/images/gallery/gallery-image1.jpg'),
                    'title':'Image title 1',
                    'description':'Image description 1'
                },
                {
                    'url':asset('/images/gallery/gallery-image2.jpg'),
                    'title':'Image title 2',
                    'description':'Image description 2'
                },
                {
                    'url':asset('/images/gallery/gallery-image3.jpg'),
                    'title':'Image title 3',
                    'description':'Image description 3'
                },
                {
                    'url':asset('/images/gallery/gallery-image1.jpg'),
                    'title':'Image title 1',
                    'description':'Image description 1'
                },
                {
                    'url':asset('/images/gallery/gallery-image2.jpg'),
                    'title':'Image title 2',
                    'description':'Image description 2'
                },
                {
                    'url':asset('/images/gallery/gallery-image3.jpg'),
                    'title':'Image title 3',
                    'description':'Image description 3'
                },
                {
                    'url':asset('/images/gallery/gallery-image1.jpg'),
                    'title':'Image title 1',
                    'description':'Image description 1'
                },
                {
                    'url':asset('/images/gallery/gallery-image2.jpg'),
                    'title':'Image title 2',
                    'description':'Image description 2'
                },
                {
                    'url':asset('/images/gallery/gallery-image3.jpg'),
                    'title':'Image title 3',
                    'description':'Image description 3'
                }
            ]})|raw}}
        </div>

        <!-- Zone -->
        <div class="zone-content">
            {{zone('main')|raw}}
        </div>

    </div>
</div>


{% endblock %}
