<footer class="footer">
  <div class="container  row  row--sb  row--gutters">
    <div class="col">
        {{widget('content', 'footer-text1', { content:'
            <h4>PAGE INDEX</h4>
        '})|raw}}
        <ul class="navigation-list">
          <li class="navigation-item">
            <a href="/" class="item-name"></a>
          </li>
          <li class="navigation-item">
            <a href="/cv" class="item-name">CV</a>
          </li>
          <li class="navigation-item">
            <a href="/showreel" class="item-name">Showreel</a>
          </li>
          <li class="navigation-item">
            <a href="/voicereel" class="item-name">Voicereel</a>
          </li>
          <li class="navigation-item">
            <a href="/gallery" class="item-name">Gallery</a>
          </li>
          <li class="navigation-item">
            <a href="/news" class="item-name">News</a>
          </li>
          <li class="navigation-item">
            <a href="/reviews" class="item-name">Reviews</a>
          </li>
          <li class="navigation-item">
            <a href="/contact" class="item-name">Contact</a>
          </li>
        </ul>
    </div>
    <div class="col">
      {{widget('content', 'footer-text2', { content:'
          <h4>GET IN TOUCH</h4>
      '})|raw}}
      {{widget('content', 'footer-text3', { content:'
          <p>Any Questions?<a href="contact.html"><b> Contact </b></a> me today.</p>
      '})|raw}}
       <ul class="social-list">
        <li class="social-item">
          <a href="mailto:ej_martin@hotmail.co.uk?subject=Your Enquiry" class="social-link"><i class="icon icon--email"></i></a>
        </li>
        <li class="social-item">
          <a href="/" class="social-link"><i class="icon icon--facebook"></i></a>
        </li>
        <li class="social-item">
          <a href="/" class="social-link"><i class="icon icon--twitter"></i></a>
        </li>
      </ul>
    </div>

    <div class="col">
      {{widget('content', 'footer-text5', { content:'
          <h4>CONTACT ME</h4>
      '})|raw}}
      <div id="contact-area">
         <ul>
            <li><p>Tel: 07876 731 450</p></li>
            <li><p>Email: <a href="mailto:ej_martin@hotmail.co.uk">ej_martin@hotmail.co.uk</a></p></li>
            <li><p>Spotlight: 6216-8973-8372</p></li>
         </ul>
      </div>
      <div class="copyright">
        <p>© EJ MARTIN | {{ "now"|date("Y") }}</p>
      </div>
    </div>
  </div>
</footer>